.search__wrapper {
  padding: 0 2rem;
  display: flex;
  justify-content: right;
  border-bottom: 1px solid #e1e7ea;
  height: 5rem;
  align-items: center;
}

.search__input--wrapper {
  position: relative;
}

.search__input {
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #f1f6f4;
  border: 2px solid #e1e7ea;
  border-radius: 0.5rem;
  width: 21.25rem;
}

.search__input:focus {
  outline: none;
}

.search__icon {
  position: absolute;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  border-left: 2px solid #e1e7ea;
  top: 0;
  right: 0.625rem;
}

.search__svg {
  height: 1.5rem;
  width: 1.5rem;
}
